<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>ADMIN PANEL</h1>


    <% users.forEach( uel => { %>
       <h3> <%= uel.userName %> </h3>  
       <ul>
        <% lists.forEach( el => { if ( uel._id == el.userId ) { %>
                <ul class='todoItem' data-id='<%=el._id%>'>
                    <li class=''>Cleaned bathroom: <%= el.cleanBathroom %></li>
                    <li class=''>Brought in carts: <%= el.getCarts %></li>
                    <li class=''>Swept: <%= el.sweep %></li>
                    <li class=''>Closed Register: <%= el.closeRegister %></li>
                </ul>
        <% }}) %>    
    </ul> 
    <% }) %>    


    <a href="/todos">Back to Personal Todos</a>
    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>