<!-- Include header -->
<%- include('partials/_header') %>
<!-- /Include header -->
<% let today = new Date(eDay);
let before = new Date(sDay);
//before.setUTCDate(before.getDate()-5) 
%>
<body>
    <h1 class="admin-panel-title">Manager Panel</h1>
    <form class="datePicker" action="/adminpanel">
        <label for="startDate">Start Date:</label>
        <input type="date" class="date" name="startDate" id="startDate" value=<%= before.toISOString().substring(0,10) %> >
        <label for="endDate">End Date:</label>
        <input type="date" class="date" name="endDate" id="endDate" value=<%= today.toISOString().substring(0,10) %> >
        <input type="submit" />
    </form>

    <table class="content-table">
        <tr>
            <th>Employee</th>
            <th>Date Completed</th>
            <th>Tasks Completed</th>
            <th>Notes</th>
            <th>Employee Signature</th>
        </tr>
        <%let currdate= null%>
        <% for (let i = 0; i < lists.length; i++) { %>
        <tr>
            <td>
                <%= lists[i].userName %>
            </td>
            <td>
                <%= lists[i].createdAt.toLocaleDateString() %>
            </td>
            <td>
                <ul>
                    <li>
                    <% if (lists[i].cleanBathroom == true) { %>
                       <span>&#x2713;</span> Cleaned Bathroom
                    <% } %>
                    </li>
                    <li>
                    <% if (lists[i].getCarts == true) { %>
                        <span>&#x2713;</span> Brought in Carts
                    <% } %>
                    </li>
                    <li>
                    <% if (lists[i].sweep == true) { %>
                        <span>&#x2713;</span> Swept
                    <% } %>
                    </li>
                    <li>
                    <% if (lists[i].closeRegister == true) { %>
                        <span>&#x2713;</span> Closed Register
                    <% } %>
                </li>
                </ul>
            </td>
            <td>
                <%= lists[i].notes %>
            </td>
            <td>
                <%= lists[i].signature %>
            </td>
        </tr>
        <% } %>

    </table>
    <a href="/todos" class="adminPanelLink">Back to Personal Todos</a>
    <a href="/logout" class="adminPanelLink">Logout</a>
<!-- Include footer -->
    <%- include('partials/_pagebottom') %>
<!-- /Include footer -->