<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>ADMIN PANEL</h1>
    <% let ukvp = {} %>
        <% users.forEach(entry => { 
            ukvp[entry._id] = entry.userName;
     }) %>

     <%let currdate= null%>
     <% lists.forEach( listI => { %>
        <% if(currdate != listI.createdAt.toLocaleDateString()) { 
            if(currdate != null) { %>
            </ul>
            <% }
            currdate = listI.createdAt.toLocaleDateString(); %>
            <h3><%= currdate%></h3>
            <ul>
        <% }
            if(listI.cleanBathroom){ %>
                <li>Cleaned Bathroom: <%= ukvp[listI.userId]%> </li>
            <% } 
            if(listI.getCarts){ %>
               <li> Got Carts: <%= ukvp[listI.userId] %> </li>
            <% }
            if(listI.sweep){ %>
                <li>Swept: <%= ukvp[listI.userId] %></li>
            <% }
            if(listI.closeRegister){ %>
                <li>Closed Register: <%= ukvp[listI.userId] %></li>
            <% } %>
    <% }) %>

    <%if (currdate != null){ %>
    </ul>
        <% } %>

    <a href="/todos">Back to Personal Todos</a>
    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>